
<div class="grid-content container">
    <div class="grid row" *ngIf="productdata.length> 0;else nodata">
        <div class="col-sm-3 col-xs-6" *ngFor="let product of productdata">
            <figure class="effect-goliath">
                <div class="thumb-outer ">
                   
                    <a routerLink="/product/{{product.ID}}"
                        title="{{product.Product_Name}}" class="thumb-image">
                        <img style="width:262px;height:328px"
                            src="{{image_url}}/{{product.Image_path}}"
                            alt="thumb"></a>
                    <a (click)="addtocart(product)" title="Add to Cart"
                        class="cart-button">Add to Cart</a>
                </div>
                <figcaption>
                    <a routerLink="/product/{{product.ID}}"
                        title={{product.Product_Name}} class="heading">{{product.Product_Name}}</a>
                    <span>{{convertWithCurrencyRate(product.Product_Price, selectedCurrency) 
                        | currency:selectedCurrency:true}}</span>
                    <a (click)="remove_item(product.ID)" title="Remove Item"  class="btn-secondary"
                    >Remove Item</a>
                </figcaption>
            </figure>
        </div>

    </div>
    <ng-template #nodata>
        <div class="record">
            <div class="col-12 msg">No Product Available!!!</div>
        </div>
    </ng-template>
</div>
