
<div class="title-block-outer">
    <img src="assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive">
    <div class="title-block-container">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a routerLink="/home" title="Home">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>
<section class="content">
    <div [innerHTML]="about_data" class="container">
    </div>
</section>
