
<div class="title-block-outer">
    <img src="assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive">
    <div class="title-block-container">
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a routerLink="/home" title="Home">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 about-us">
                <h1>&lt;h1&gt; display style</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <h2>&lt;h2&gt; display style</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="img-block">
                            <img src="assets/images/cms-img1.jpg" alt="">
                        </div>
                        <div class="content-block">
                            <h3>&lt;h3&gt; display style</h3>
                            <ul class="content-listing">
                                <li>Listing 1</li>
                                <li>Listing 2</li>
                                <li>Listing 3</li>
                                <li>Listing 4</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="img-block">
                            <img src="assets/images/cms-img2.jpg" alt="">
                        </div>
                        <div class="content-block">
                            <h3>&lt;h3&gt; display style</h3>
                            <ul class="content-listing">
                                <li>Listing 1</li>
                                <li>Listing 2</li>
                                <li>Listing 3</li>
                                <li>Listing 4</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h2>&lt;h2&gt; display style</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-block">
                            <img src="assets/images/cms-img3.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <h4>&lt;h4&gt; display style</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="img-block">
                            <img src="assets/images/cms-img4.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <h4>&lt;h4&gt; display style</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="img-block">
                            <img src="assets/images/cms-img5.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <h4>&lt;h4&gt; display style</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        </div>
                    </div>
                </div>

                <h2>&lt;h2&gt; display style</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="img-block">
                            <img src="assets/images/cms-img6.jpg" alt="">
                        </div>
                        <div class="content-block">
                            <h5>&lt;h5&gt; display style</h5>
                            <ol class="content-listing">
                                <li>Listing 1</li>
                                <li>Listing 2</li>
                                <li>Listing 3</li>
                                <li>Listing 4</li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="img-block">
                            <img src="assets/images/cms-img7.jpg" alt="">
                        </div>
                        <div class="content-block">
                            <h6>&lt;h6&gt; display style</h6>
                            <ol class="content-listing">
                                <li>Listing 1</li>
                                <li>Listing 2</li>
                                <li>Listing 3</li>
                                <li>Listing 4</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="promo-block">
                    <a href="product.html" title="Promotion">
                        <img src="assets/images/promo1.jpg" class="img-responsive" alt="promo1.jpg">
                    </a>
                </div>
                <div class="promo-block">
                    <a href="product.html" title="Promotion">
                        <img src="assets/images/promo2.jpg" class="img-responsive" alt="promo1.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
