<div class="title-block-outer">
    <img src="assets/images/inner-banner.jpg" alt="Banner-image"
        class="img-responsive">
    <div class="title-block-container">
        <div class="container">
            <h2>Register</h2>
        </div>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a routerLink="/home" title="Home">Home</a></li>
            <li class="active">Register</li>
        </ol>
    </div>
</div>
<section class="content register">
    <div class="container">

        <h2>New Customers</h2>
        <p>
            By creating an account with our store, you will be able
            to move through the checkout process faster, store
            multiple shipping addresses, view and track your orders
            in your account and more.
        </p>
        <div class="row">
            <div class="col-sm-12" >
                <form class="form-block" [formGroup]="registerval" #ngForm="ngForm"
                (ngSubmit)="submituser()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text"
                                    class="form-control" formControlName="username" 
                                    placeholder="Please enter your username">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group gender-list">
                                <label class="form-label">Gender</label>
                                <div class="filter-option">
                                    <div
                                        class="filter-option-inner">
                                        <ul>
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="radio"
                                                        class="icheck"
                                                        formControlName="gender" 
                                                        name="gender">
                                                    Male</label>
                                            </li>&nbsp;
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="radio"
                                                        class="icheck"
                                                        formControlName="gender" 
                                                        name="gender">
                                                    Female</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group
                                validation-error">
                                <label class="form-label">Password</label>
                                <input type="text"
                                    class="form-control"
                                    formControlName="password" 
                                    placeholder="Please enter your Password" 
                                    >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email"
                                    class="form-control"
                                    formControlName="email" 
                                    placeholder="Please enter valid email">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text"
                                    class="form-control"
                                    formControlName="firstname" 
                                    placeholder="Please enter your first name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Mobile No.</label>
                                <input type="text"
                                    class="form-control"
                                    formControlName="mobile" 
                                    placeholder="Please enter your mobile no.">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text"
                                    class="form-control"
                                    formControlName="lastname" 
                                    placeholder="Please enter your last name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="text"
                                    class="form-control"
                                    formControlName="phone" 
                                    placeholder="Please enter your phone">
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Interests</label>
                                <div class="filter-option">
                                    <div
                                        class="filter-option-inner">
                                        <ul>
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="checkbox"
                                                        class="icheck">Select
                                                    All</label>
                                            </li>
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="checkbox"
                                                        class="icheck">
                                                    Option 1
                                                </label>
                                            </li>
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="checkbox"
                                                        class="icheck">Option
                                                    2 </label>
                                            </li>
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="checkbox"
                                                        class="icheck">
                                                    Option 3</label>
                                            </li>
                                            <li
                                                class="custom-check">
                                                <label> <input
                                                        type="checkbox"
                                                        class="icheck">Other</label>
                                                <input type="text"
                                                    class="form-control">
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="bottom-group">
                        <div class="row">
                            <div class="term-condition col-sm-6">
                                <div class="checkbox">
                                    <label class="chklbl"><input
                                            type="checkbox"
                                            formControlName="terms" 
                                            value="">&nbsp;&nbsp;I
                                        Agree with <a href="#">Terms
                                            &amp; Conditions.</a></label>
                                </div>
                            </div>

                            <div class="reg-submit col-sm-6
                                text-right">

                                <div class="form-group clearfix
                                    submit-outer">
                                    <button type="submit"
                                        class="btn-secondary">Submit</button>&nbsp;
                                    <button type="button"
                                        class="btn-tertiary">Clear</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</section>