
<!-- Footer Start -->
<footer class="footer">
    <div class="container">
        <div class="clearfix">
            <div class="footer-content">
                <form [formGroup]="checkinput" #ngForm="ngForm"
                (ngSubmit)="subscribe()">
                    <div class="form-group">
                        <div class="mb"><label>Subscribe for Newsletter</label></div>
                        <div class="thankyou-msg" *ngIf="isSubscribe">Thank you for your subscription.</div>
                        <input type="email" class="form-control mb" formControlName="email" placeholder="Enter your email address">
                        <div *ngIf="email_exist">
                            <span class="text-danger">Email is already exist</span>
                        </div>
                        <div *ngIf="checkinput.controls['email']?.invalid ">
                          
                            <span *ngIf="checkinput.controls['email']?.errors?.['required'] && (checkinput.controls['email']?.touched || ngForm.submitted) "  class="text-danger">
                                Email is required
                            </span>
                            <span class="text-danger" *ngIf="
                            checkinput.controls['email']?.errors?.['email']">Email is invalid</span>
                            
                        </div>
                        <div>
                            <button type="submit" class="sign-up">Subscribe</button>
                        </div>
                    </div>
                    
                       
                </form>
                <ul class="footer-links">
                    <li><a routerLink="/home" title="Home">Home</a></li>
                    <li><a routerLink="home/about" title="About us">About us</a></li>
                    <li *ngIf="isShow"><a routerLink="home/registration" title="Register">Register</a></li>
                    <li><a routerLink="home/contactus" title="Contact us">Contact us</a></li>
                </ul>
                <p class="copyright">&copy; {{year}} eShopper online store. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<a href="#" title="Back to Top" class="back-to-top"><img src="/assets/images/up-arrow-white.svg" alt="Arrow"></a>
<!-- Footer End -->