<div class="title-block-outer">
    <img src="assets/images/inner-banner.jpg" alt="Banner-image"
        class="img-responsive">
    <div class="title-block-container">
        <div class="container">
            <h2>Update Profile</h2>
        </div>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html" title="Home">Home</a></li>
            <li class="active">Update Profile</li>
        </ol>
    </div>
</div>
<section class="content">
    <div class="container">
        <form >
        <div class="row">
            <div class="col-sm-12 register profile">
                <form class="form-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control"
                                     placeholder="Please enter your username" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group gender-list">
                                <label class="form-label">Gender</label>
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <ul>
                                            <li class="custom-check">
                                                <label> <input type="radio"
                                                        class="icheck"
                                                       
                                                        value="M"
                                                        name="gender" checked/>Male</label>
                                            </li>&nbsp;
                                            <li class="custom-check">
                                                <label><input type="radio"
                                                        class="icheck"
                                                        
                                                        value="F"
                                                        name="gender" />Female</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="form-label">Password</label>
                                <input type="text" class="form-control" 
                                    placeholder="Please enter your Password" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email"  class="form-control" placeholder="Please enter valid email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" 
                                     placeholder="Please enter your first name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Mobile No.</label>
                                <input type="text" class="form-control" 
                                     placeholder="Please enter your mobile no.">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" 
                                     placeholder="Please enter your last name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" 
                                    placeholder="Please enter your phone">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Interests</label>
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <ul>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck">Select
                                                    All</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck"> Option 1</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck" checked/>Option
                                                    2</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck">Option 3</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck">Other</label>
                                                <input type="text"
                                                    class="form-control" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="shipping-address-block">
                                <div class="form-group">
                                    <a href="#!" class="btn-tertiary"
                                        data-toggle="collapse"
                                        data-target=".shipping-form">Edit
                                        Shipping Address</a>
                                </div>

                                <div class="shipping-form collapse">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Street</label>
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Please enter
                                                    your Street">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Please enter
                                                    your City">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                                <select class="form-control">
                                                    <option value="option1">option1</option>
                                                    <option value="option2">option2</option>
                                                    <option value="option3">option3</option>
                                                    <option value="option4">option4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">State</label>
                                                <select class="form-control">
                                                    <option value="option1">option1</option>
                                                    <option value="option2">option2</option>
                                                    <option value="option3">option3</option>
                                                    <option value="option4">option4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="billing-address-block">
                                <div class="form-group">
                                    <a href="#!" class="btn-tertiary"
                                        data-toggle="collapse"
                                        data-target=".billing-form">Edit Billing
                                        Address</a>
                                    <label class="billing-label"><input
                                            type="checkbox" class="icheck">Same
                                        as Billing Address</label>
                                </div>
                                <div class="billing-form collapse">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Street</label>
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Please enter
                                                    your Street">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <input type="text"
                                                    class="form-control"
                                                    placeholder="Please enter
                                                    your City">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                                <select class="form-control">
                                                    <option value="option1">option1</option>
                                                    <option value="option2">option2</option>
                                                    <option value="option3">option3</option>
                                                    <option value="option4">option4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">State</label>
                                                <select class="form-control">
                                                    <option value="option1">option1</option>
                                                    <option value="option2">option2</option>
                                                    <option value="option3">option3</option>
                                                    <option value="option4">option4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-group">
                        <div class="row">

                            <div class="col-sm-12 text-right">
                                <div class="form-group clearfix submit-outer">
                                    <button type="submit" class="btn-secondary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </form>
    </div>
</section>