<div class="title-block-outer">
    <img src="assets/images/inner-banner.jpg" alt="Banner-image"
        class="img-responsive">
    <div class="title-block-container">
        <div class="container">
            <h2>Update Profile</h2>
        </div>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html" title="Home">Home</a></li>
            <li class="active">Update Profile</li>
        </ol>
    </div>
</div>
<section class="content">
    <div class="container">
        <form  [formGroup]="profileval" #ngForm="ngForm"
        (ngSubmit)="submituser()" >
        <div class="row">
            <div class="col-sm-12 register profile">
                <div class="alert alert-dismissible alert-success" role="alert" *ngIf="update">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i> <img src="assets/images/success.svg" height="15px" alt="success"></i>&nbsp; Profile updated Successfully 
                </div>
                <ng-template>
                    <div class="alert alert-dismissible alert-danger" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <i> <img src="assets/images/error.svg" height="15px" alt="danger"></i>&nbsp; Sorry!! Something went wrong
                    </div>
                </ng-template>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" formControlName="id">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" formControlName="username"   (keyup)="check_username($event)"
                                     placeholder="Please enter your username" />
                                     <div *ngIf="username_exist">
                                        <span class="text-danger">Username is already exist</span>
                                    </div>
                                    <div *ngIf="profileval.controls['username']?.invalid ">

                                        <span *ngIf="profileval.controls['username']?.errors?.['required']  && (profileval.controls['username']?.touched || ngForm.submitted) "  class="text-danger">
                                            Username is required
                                        </span>
                                        <span *ngIf="profileval.controls['username']?.errors?.['pattern']  && (profileval.controls['username']?.touched || ngForm.submitted) "  class="text-danger">
                                            Please enter valid username
                                        </span>
                                    </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group gender-list">
                                <label class="form-label">Gender</label>
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <ul>
                                            <li class="custom-check">
                                                <label> <input type="radio"
                                                        class="icheck"
                                                        formControlName="gender"
                                                        value="M"
                                                        name="gender" checked/>Male</label>
                                            </li>&nbsp;
                                            <li class="custom-check">
                                                <label><input type="radio"
                                                        class="icheck"
                                                        formControlName="gender"
                                                        value="F"
                                                        name="gender" />Female</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div *ngIf="profileval.controls['gender']?.invalid ">

                                        <span *ngIf="profileval.controls['gender']?.errors?.['required'] && (profileval.controls['gender']?.touched || ngForm.submitted) "  class="text-danger">
                                            Gender is required
                                        </span>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" 
                                formControlName="password"
                                    placeholder="Please enter your Password" >
                                    <div *ngIf="profileval.controls['password']?.invalid ">

                                        <span *ngIf="profileval.controls['password']?.errors?.['required'] && (profileval.controls['password']?.touched || ngForm.submitted) "  class="text-danger">
                                            Password is required
                                        </span>
                                        <span *ngIf="profileval.controls['password']?.errors?.['minlength'] && (profileval.controls['password']?.touched || ngForm.submitted) "  class="text-danger">
                                            Password must be 6 character long
                                        </span>
                                       
                                        
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email"  class="form-control"  (keyup)="check_email($event)" formControlName="email" placeholder="Please enter valid email">
                                <div *ngIf="profileval.controls['email']?.invalid ">
                                    <div *ngIf="email_exist">
                                        <span class="text-danger">Email is already exist</span>
                                    </div>
                                    <span *ngIf="profileval.controls['email']?.errors?.['required'] && (profileval.controls['email']?.touched || ngForm.submitted) "  class="text-danger">
                                        Email is required
                                    </span>
                                    <span class="text-danger" *ngIf="
                                    profileval.controls['email']?.errors?.['email']">Email is invalid</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" 
                                formControlName="firstname"
                                     placeholder="Please enter your first name">
                                     <div *ngIf="profileval.controls['firstname']?.invalid ">
                                        <span *ngIf="profileval.controls['firstname']?.errors?.['pattern']  && (profileval.controls['firstname']?.touched || ngForm.submitted) "  class="text-danger">
                                            Please enter valid firstname
                                        </span>
                                        <span *ngIf="profileval.controls['firstname']?.errors?.['required'] && (profileval.controls['firstname']?.touched || ngForm.submitted) "  class="text-danger">
                                            Firstname is required
                                        </span>
                                       
                                        
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Mobile No.</label>
                                <input type="text" class="form-control" 
                                formControlName="mobile"
                                     placeholder="Please enter your mobile no.">
                                     <div *ngIf="profileval.controls['mobile']?.invalid ">

                                        <span *ngIf="profileval.controls['mobile']?.errors?.['required'] && (profileval.controls['mobile']?.touched || ngForm.submitted) "  class="text-danger">
                                            Mobile is required
                                        </span>
                                        <span *ngIf="(profileval.controls['mobile']?.errors?.['maxlength'] || profileval.controls['mobile']?.errors?.['minlength'] || profileval.controls['mobile']?.errors?.['pattern']) && (profileval.controls['mobile']?.touched || ngForm.submitted) "  class="text-danger">
                                            Mobile is Invalid
                                        </span>
                                       
                                        
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" 
                                formControlName="lastname"
                                     placeholder="Please enter your last name">
                                     <div *ngIf="profileval.controls['lastname']?.invalid ">
                                        <span *ngIf="profileval.controls['lastname']?.errors?.['pattern']  && (profileval.controls['lastname']?.touched || ngForm.submitted) "  class="text-danger">
                                            Please enter valid lastname
                                        </span>
                                        <span *ngIf="profileval.controls['lastname']?.errors?.['required'] && (profileval.controls['lastname']?.touched || ngForm.submitted) "  class="text-danger">
                                            Lastname is required
                                        </span>
                                       
                                        
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" 
                                formControlName="phone"
                                    placeholder="Please enter your phone">
                                    <div *ngIf="profileval.controls['phone']?.invalid ">

                                        <span *ngIf="profileval.controls['phone']?.errors?.['required'] && (profileval.controls['phone']?.touched || ngForm.submitted) "  class="text-danger">
                                            Phone is required
                                        </span>
                                        <span *ngIf="(profileval.controls['phone']?.errors?.['maxlength'] || profileval.controls['phone']?.errors?.['minlength'] || profileval.controls['phone']?.errors?.['pattern']) && (profileval.controls['phone']?.touched || ngForm.submitted) "  class="text-danger">
                                            Phone is Invalid
                                        </span>
                                        
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Interests</label>
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <ul>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck">Select
                                                    All</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck"> Option 1</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck" checked/>Option
                                                    2</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck">Option 3</label>
                                            </li>
                                            <li class="custom-check">
                                                <label><input type="checkbox"
                                                        class="icheck">Other</label>
                                                <input type="text"
                                                    class="form-control" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="shipping-address-block" formGroupName="shipping" (change)="uncheck_sameas()">
                                <div class="form-group edit_button">
                                    <a  class="btn-tertiary"
                                        data-toggle="collapse"
                                        data-target=".shipping-form">Edit
                                        Shipping Address</a>
                                </div>

                                <div class="shipping-form collapse">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group ">
                                                <label class="form-label">Street</label>
                                                <input type="text"
                                                    class="form-control" formControlName="street_ship" #street_check (keyup)="uncheck_sameas()"
                                                    placeholder="Please enter your Street">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group" >
                                                <label class="form-label">Country</label>
                                                <select class="form-control" (change)="get_state_ship($event)" formControlName="country_ship" #country_check>
                                                    <option value="">Select</option>
                                                    <option  *ngFor="let country of country_ship" value="{{country.ID}}">{{country.Country}}</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label" >State</label>
                                               
                                                    <select class="form-control" (change)="get_city_ship($event)" formControlName="state_ship" #state_check >
                                                        <option value="">Select</option>
                                                        <option  *ngFor="let state of state_ship" value="{{state.ID}}">{{state.State}}</option>   
                                                
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <select class="form-control"  #city_disable formControlName="city_ship" #city_check (change)="uncheck_sameas()">
                                                    <option value="">Select</option>
                                                    <option  *ngFor="let city of city_ship" value="{{city.ID}}">{{city.City}}</option>   
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="billing-address-block" formGroupName="billing" >
                                <div class="form-group edit_button">
                                    <a  class="btn-tertiary"
                                        data-toggle="collapse"
                                        data-target=".billing-form">Edit Billing
                                        Address</a>
                                    <label class="billing-label"><input
                                            type="checkbox" class="icheck" (change)="sameas_checkbox($event)" #sameas>Same
                                        as Billing Address</label>
                                </div>
                                <div class="billing-form collapse">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Street</label>
                                                <input type="text"
                                                    class="form-control"  formControlName="street_bill" (keyup)="uncheck_sameas()"
                                                    placeholder="Please enter your Street">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group" >
                                                <label class="form-label">Country</label>
                                                <select class="form-control" (change)="get_state_bill($event)" formControlName="country_bill">
                                                    <option value="">Select</option>
                                                    <option  *ngFor="let country of country_bill" value="{{country.ID}}">{{country.Country}}</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">State</label>
                                               
                                                    <select class="form-control" (change)="get_city_bill($event)" formControlName="state_bill">
                                                        <option value="">Select</option>
                                                        <option  *ngFor="let state of state_bill" value="{{state.ID}}">{{state.State}}</option>   
                                                
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <select class="form-control" formControlName="city_bill" (change)="uncheck_sameas()">
                                                    <option value="">Select</option>
                                                    <option  *ngFor="let city of city_bill" value="{{city.ID}}">{{city.City}}</option>   
                                                </select>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-group">
                        <div class="row">

                            <div class="col-sm-12 text-right">
                                <div class="form-group clearfix submit-outer">
                                    <button type="submit" class="btn-secondary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>

        </div>
    </form>
    </div>
</section>