<section class="inner-content">
    <div class="title-block-outer">
        <img src="assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive">
        <div class="title-block-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-panel">
        <div class="container">
            <ol class="breadcrumb">
                <li><a routerLink="/home" title="Home">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
    </div>
    <div class="content">
        <div class="container shopping-wrap">
            <!-- <div class="alert alert-dismissible alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i> <img src="assets/images/success.svg" alt="success"></i> <span> U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men </span> was added to your shopping cart
            </div>
            <div class="alert alert-dismissible alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i><img src="assets/images/info.svg" alt="success"></i> <span> U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men </span> was added to your shopping cart
            </div>
            <div class="alert alert-dismissible alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i><img src="assets/images/warning.svg" alt="success"></i> <span> U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men </span> was added to your shopping cart
            </div>
            <div class="alert alert-dismissible alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i><img src="assets/images/error.svg" alt="success"></i> <span> U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men </span> was added to your shopping cart
            </div> -->
            <div class="table-responsive">
                <table class="table shopping-table">
                    <thead>
                        <tr>
                            <th class="theading-1">&nbsp;</th>
                            <th>Product Name</th>
                            <th>&nbsp;</th>
                            <th>Unit Price</th>
                            <th>Qty</th>
                            <th>Subtotal</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngIf="products.length == 0 " class="text-center"><td class="empty_cart" colspan="6">your cart is empty</td></tr>
                        <tr *ngFor="let item of products; let i = index" >
                            <td class="product-image-outer">
                                <a href="#" title="{{item.Product_Name}}"><img src="{{image_url}}/{{item.Product_Image}}" width="75px" height="94px"  alt="{{item.Product_Name}}"></a>
                            </td>
                            <td>
                                <h2 class="product-name">
                                    <a routerLink="/product/{{item.Product_ID}}">{{item.Product_Name}}</a>
                                </h2>
                                <ul>
                                    <li><strong>Color</strong></li>
                                    <li #color_text id="{{item.ID}}">{{item.Color_Name}}</li>
                                    <select class="default-select form-control change_box"  #color id="{{item.ID}}" (change)="change_color($event)">
                                        <option *ngFor="let getitem of color_details" value="{{getitem.id}}" >{{getitem.color}}</option>
                                    </select>

                                    <li><strong>size</strong></li>
                                    <li #size_text id="{{item.ID}}">{{item.Size_Name}} </li>
                                 
                                        <select class="default-select form-control change_box"  #size id="{{item.ID}}" (change)="change_size($event)"> 
                                            <option *ngFor="let getitem of size_details" value="{{getitem.id}}" id="{{getitem.id}}" >{{getitem.size}}</option>
                                            
                                        </select>
                      
                                   
                                </ul>
                            </td>
                            <td>
                                <a (click)="edit_product(item.Product_ID,item.ID)" title="Edit item" class="edit-link"> <img src="assets/images/edit-dark.svg" alt="edit"></a>
                            </td>
                            <td>
                                <span class="orange-text">{{convertWithCurrencyRate(item.Unit_Price, selectedCurrency) 
                                    | currency:selectedCurrency:true}}</span>
                            </td>
                            <td>
                                <!-- {{item.Product_Quantity}} -->
                                <input type="text" value="{{item.Quantity}}" title="Qty" id="{{item.ID}}" class="form-control qty" (keyup)="change_quantity($event)" #quantity >
                            </td>
                            <td>
                               
                                <span class="orange-text"> {{convertWithCurrencyRate(item.Quantity*item.Unit_Price, selectedCurrency) 
                                    | currency:selectedCurrency:true}}</span>
                            </td>
                            <td>
                                <a style="cursor:pointer" (click)="removeItem(item.ID)" title="Remove item" class="remove-link"><img src="assets/images/cross-dark.svg" alt="delete"></a>
                            </td>
                        </tr>
                  
                        <!-- <ng-template #nodata>
                           
                        </ng-template> -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <a routerLink="/home" title="Continue Shopping" class="btn-tertiary">Continue Shopping</a>
                            </td>
                            <td colspan="5" class="btn-right">
                                <button (click)="emptycart()" title="Clear Shopping Cart" class="btn-tertiary">Clear Shopping Cart</button>&nbsp;
                                <button  title="Update Shopping Cart" (click)="update_cart()" class="btn-tertiary">Update Shopping Cart</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="shipping-block">
                        <h4>Estimate Shipping and Tax</h4>
                        <p>Enter your destination to get a shipping estimate.</p>
                        <form>
                            <div class="form-group">
                                <label class="form-label">country</label>
                                <select class="default-select form-control" (change)="get_state($event)" #country>
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let data of country_data" value="{{data.Country_ID}}" >{{data.Country}}</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">state</label>
                                <select class="default-select form-control" (change)="find_tax($event)" #state>
                                    <option value="" selected>Select</option>
                                    <option  *ngFor="let data of state_details" value="{{data.tax}}" >{{data.State}}</option>
                                    
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <label class="form-label">Zip/Postal Code</label>
                                <input type="text" class="form-control" placeholder="Zip/Postal Code">
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-3">
                    <div class="table-responsive">
                        <table class="table summary-table">
                            <tbody>
                                <tr>
                                    <td>Subtotal</td> 
                                    <td>{{convertWithCurrencyRate(grandTotal, selectedCurrency) 
                                        | currency:selectedCurrency:true}}</td>
                                </tr>
                                <tr>
                                    <td>Service Tax</td>
                                    <td>{{convertWithCurrencyRate(service_tax, selectedCurrency) 
                                        | currency:selectedCurrency:true}}</td>
                                </tr>
                                <tr>
                                    <td class="summary-total"><strong>Total</strong></td>
                                    <td class="summary-price"><strong>{{convertWithCurrencyRate(final_amount, selectedCurrency) 
                                        | currency:selectedCurrency:true}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a (click)="pay()" title="Checkout" class="btn-secondary Checkout">Checkout</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <a href="profile.html" title="Checkout with Multiple Addresses">
                                            Checkout with Multiple Addresses
                                        </a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>