.empty_cart{
    padding: 50px;
    font-size: 50px;
}
.edit-link{
    cursor: pointer;
}
.change_box{
    width: 100px;
    height: 32px;
    display: none;
}
.shopping-table .qty{
    width: 60px !important;
}
.Checkout{
    cursor: pointer;
}