<div class="col-sm-9">
    <h3>Men T-shirts</h3>
    <div class="toolbar clearfix">

        <div class="pager_right">
            <div class="sort-by">
                <label>Sort By</label>
                <div class="form-group">
                    <select class="custom-dropdown">
                        <option>Position</option>
                        <option>Name</option>
                        <option>Price</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-content">
        <div class="grid row">
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="thumb" class="thumb-image"><img src="assets/images/new-thumb-01.jpg" alt="thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-02.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-01.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-04.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <a href="#" title=""></a>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-05.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-06.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-07.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-01.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-01.jpg" alt="thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-02.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-01.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-6">
                <figure class="effect-goliath">
                    <div class="thumb-outer">
                        <a href="#" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="thumb-image"><img src="assets/images/new-thumb-04.jpg" alt="Thumb"></a>
                        <a href="cart.html" title="Add to Cart" class="cart-button">Add to Cart</a>
                    </div>
                    <a href="#" title=""></a>
                    <figcaption>
                        <a href="product-detail.html" title="U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men" class="heading">U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men</a>
                        <span>$120.00</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12">
        <span class="button-outer text-center">
            <a class="btn-tertiary" href="product.html" title="More Products">More Products</a>
        </span>
    </div>
</div>
