.cart-button{
    cursor: pointer;
}
.owl-carousel 
{
    touch-action: manipulation; 
}
.testimonial-slider{
    height: 182px;
    overflow: hidden;
    /* width: 800px; */
}
.name_testimonial{
    padding-bottom: 0;
    font-weight: 600;
    color: #ea4748;
}
