<section class="inner-content">
    <div class="title-block-outer">
        <img src="assets/images/inner-banner.jpg" alt="Banner-image"
            class="img-responsive">
        <div class="title-block-container">
            <div class="container">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
    <div class="breadcrumb-panel">
        <div class="container">
            <ol class="breadcrumb">
                <li><a routerLink="/home" title="Home">Home</a></li>
                <li class="active">Contact Us</li>
            </ol>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 contact-us">
                    <form class="form-block" [formGroup]="contact_form"
                        #ngForm="ngForm"
                        (ngSubmit)="add_contact()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control"
                                        formControlName="name"
                                        placeholder="Please enter your name">
                                        <div
                                        *ngIf="contact_form.controls['name']?.invalid">
                                        <span
                                            *ngIf="contact_form.controls['name']?.errors?.['required']
                                            &&
                                            (contact_form.controls['name']?.touched
                                            ||
                                            ngForm.submitted)"
                                            class="text-danger">
                                            Name is required
                                        </span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control"
                                        formControlName="email"
                                        placeholder="Please enter valid email">
                                    <div
                                        *ngIf="contact_form.controls['email']?.invalid">
                                        <span
                                            *ngIf="contact_form.controls['email']?.errors?.['email']
                                            &&
                                            (contact_form.controls['email']?.touched
                                            ||
                                            ngForm.submitted)"
                                            class="text-danger">
                                            Invalid Email
                                        </span>
                                        <span
                                            *ngIf="contact_form.controls['email']?.errors?.['required']
                                            &&
                                            (contact_form.controls['email']?.touched
                                            ||
                                            ngForm.submitted)"
                                            class="text-danger">
                                            Email is
                                            required
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Subject</label>
                                    <input type="text" class="form-control"
                                        formControlName="subject"
                                        placeholder="Please enter subject">
                                    <div
                                        *ngIf="contact_form.controls['subject']?.invalid">
                                        <span
                                            *ngIf="contact_form.controls['subject']?.errors?.['required']
                                            &&
                                            (contact_form.controls['subject']?.touched
                                            ||
                                            ngForm.submitted)"
                                            class="text-danger">
                                            Subject is required
                                        </span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label class="form-label">Message</label>
                                <textarea class="form-control"
                                    formControlName="message" placeholder="Your message here"></textarea>
                                
                                    
                                    <div
                                        *ngIf="contact_form.controls['message']?.invalid">
                                        <span
                                            *ngIf="contact_form.controls['message']?.errors?.['required']
                                            &&
                                            (contact_form.controls['message']?.touched
                                            ||
                                            ngForm.submitted)"
                                            class="text-danger">
                                            Message is required
                                        </span>

                                    </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group clearfix
                                    submit-outer">
                                    <button type="submit" class="btn-secondary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="map-block">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.6949739620013!2d72.49824531551405!3d23.034969284946744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8352e403437b%3A0xdc9d4dae36889fb9!2sTatvaSoft!5e0!3m2!1sen!2sin!4v1482481146791"
                                    style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-details">
                                <h4>Get in touch</h4>
                                <address class="clearfix">
                                    <span>TatvaSoft House,</span> <span>Rajpath
                                        Club Road,</span> <span>Near
                                        Shivalik Business Center,</span><span>
                                        Opp. Golf Academy,</span> <span>Off
                                        S G Road, Ahmedabad,</span> <span>Gujarat
                                        380054</span>
                                </address>
                                <p><span>Phone: </span> <em>(03)555 55555</em></p>
                                <p><span>Email:</span> <a
                                        href="mailto:info@tatvasoft.com"
                                        title=""><em>info@tatvasoft.com</em></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="promo-block">
                        <a href="product.html" title="Promotion"><img
                                src="assets/images/promo1.jpg"
                                class="img-responsive" alt="promo1.jpg"></a>
                    </div>
                    <div class="promo-block">
                        <a href="product.html" title="Promotion"><img
                                src="assets/images/promo2.jpg"
                                class="img-responsive" alt="promo1.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>