.reset{
    background: none;
    outline: none;
}
.reset:hover{
    color: red;
}
.colour_family_list label{
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
    display: inline-block;
    /* padding-left: 22px; */
}
.colour_family_list  li a{
    padding-left:18px ;
}
.color_btn{
    opacity:0 ;
}
.colour_family_list input[type=radio]:checked + label{
    color:red
}
.record{
    margin-top: 100px;
}
.msg{
    font-size: 60px;
    text-align:center
}
.btn-tertiary{
    cursor: pointer;
}
.cart-button{
    cursor: pointer;
}