<section *ngFor="let data of product_details">
<div class="title-block-outer">
    <img src="/assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive">
    <div class="container title-block-container">
        <h2>{{data.Subcategory_name|titlecase}}</h2>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a routerLink='/home' title="Home">Home</a></li>
            <li><a routerLink='/product/{{data.Category_name}}/{{data.Category_ID}}'  title="{{data.Category_name}}">{{data.Category_name|titlecase}}</a></li>
            <li><a routerLink='/product/{{data.Category_name}}/{{data.Category_ID}}/{{data.Subcategory_name}}/{{data.Subcategory_ID}}' title="{{data.Subcategory_name}}" >{{data.Subcategory_name|titlecase}}</a></li>
            <li class="active">{{data.Product_Name|titlecase}}</li>
        </ol>
    </div>
</div>

<section class="product_detail content">
<div class="container" >
   
    <div class="row" >
        <div class="alert alert-dismissible alert-success" role="alert" *ngIf=addtocart_alert>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i> <img src="assets/images/success.svg" height="15px" alt="success"></i> <span> {{data.Product_Name}}</span> was added to your shopping cart
        </div>
        <div class="col-sm-5">
            <!-- <div style="margin-bottom:10px"><img width="100%" src="{{Image_path}}/{{data.Image_path}}" alt=""></div> -->
           <div><ng-image-slider [images]="imgCollection" [imageSize]="{width: 500, height: 500}"></ng-image-slider></div> 
          
        </div>
        <div class="col-sm-7">
           
            <div class="product-name">
                <h1>{{data.Product_Name}}</h1>
            </div>
            <div class="short-description">
               {{data.Product_Description}}
            </div>
            <div class="sku">
                <span>SKU: </span> mag209_prod1
            </div>
            <!-- <p class="availability">Availability:<span class="in-stock">In stock</span><span class="not-in-stock">Not Available</span></p> -->
            <div class="price-box">{{data.Product_Price|currency:'INR'}}</div>
            <!-- <form [formGroup]="registerval"> -->
            <div class="product-options">
                <label class="required"><em>*</em> size</label>
                <p class="required">* Required Fields</p>
                <div class="form-group">
                    <select>
                        <option>-- Please Select --</option>
                        <option value="{{data.Product_Size}}">{{data.Size_Name}}</option>
                      
                    </select>
                </div>
            </div>
            <div class="add-to-cart-btn clearfix">
                <label>Qty:</label>
                <select #quantity>
                    <option value="1" selected >1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <button type="button" (click)="addtocart(data)" title="Add to Cart" class="button btn-cart"><span><span>Add to Cart</span></span>
                </button>
            </div>
            <div class="email-addto-box clearfix">
                <ul class="add-to-links">
                    <li><a  class="link-wishlist">Add to Wishlist</a></li>
                </ul>
            </div>
        <!-- </form> -->
            <div class="tablist-nav">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs clearfix" role="tablist">
                    <li role="presentation" class="active"><a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">Delivery</a></li>
                    <li role="presentation"><a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Shipping</a></li>
                    <li role="presentation"><a href="#sizeguide" aria-controls="sizeguide" role="tab" data-toggle="tab">Sizeguide</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="delivery">
                        We offer the following delivery options for 24c ours over the world. Deliveries are not made on Saturdays, Sundays or on public holidays. A specific time slot cannot be specified with any of our delivery options. Please refer to the Terms and Conditions of Sale.
                    </div>
                    <div role="tabpanel" class="tab-pane" id="shipping">
                        Before we can dispatch your purchases, we may need to confirm your details with your card issuer. We will do our best to keep delays to a minimum Our delivery time starts from the moment an order is accepted and includes a 48 hour period where your items will be processed and dispatched by our warehouse
                    </div>
                    <div role="tabpanel" class="tab-pane" id="sizeguide">
                        <table class="size_guide_table">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>S</th>
                                    <th>M</th>
                                    <th>L</th>
                                    <th>XL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Men</td>
                                    <td>7-10</td>
                                    <td>10-13</td>
                                    <td>13-15</td>
                                    <td>15-17</td>
                                </tr>
                                <tr>
                                    <td>Women</td>
                                    <td>7-9</td>
                                    <td>10-12</td>
                                    <td>13-14</td>
                                    <td>15-16</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-content">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#product-des" aria-controls="product-des" role="tab" data-toggle="tab">Product Description</a></li>
            <li role="presentation"><a href="#product-review" aria-controls="product-review" role="tab" data-toggle="tab">Product's Review</a></li>
            <li role="presentation"><a href="#cms-tab" aria-controls="cms-tab" role="tab" data-toggle="tab">CMS tab</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="product-des">
                <p>
                    <strong>Sample Lorem Ipsum Text</strong>
                </p>
                <p>{{data.Product_Description}}</p>
               
               
            </div>
            <div role="tabpanel" class="tab-pane" id="product-review">
                <p class="write-review">
                    <a href="#" title="Write a review" class="review-tag">Write a review</a>
                </p>
                <form class="review-open">
                    <ul class="star-links clearfix">
                        <li>
                            <a href="#" title="">
                                <i class="img-original"><img src="assets/images/star.svg" alt="star"></i>
                                <i class="img-hover"><img src="assets/images/star-h.svg" alt="star"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="img-original"><img src="assets/images/star.svg" alt="star"></i>
                                <i class="img-hover"><img src="assets/images/star-h.svg" alt="star"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="img-original"><img src="assets/images/star.svg" alt="star"></i>
                                <i class="img-hover"><img src="assets/images/star-h.svg" alt="star"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="img-original"><img src="assets/images/star.svg" alt="star"></i>
                                <i class="img-hover"><img src="assets/images/star-h.svg" alt="star"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="img-original"><img src="assets/images/star.svg" alt="star"></i>
                                <i class="img-hover"><img src="assets/images/star-h.svg" alt="star"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Write a review"></textarea>
                    </div>
                    <a href="#" title="Submit"  class="btn-secondary">Submit</a>
                </form>
                <div class="review-detail">
                    <span>Mark, 26-12-2016 writes:</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cms-tab">
                <p>
                    Custom Variants and Options let you create product customization options and fields quickly and easily. Any product can have custom variants and options – this can be configured in its product configuration. Custom variants and options can be created for products as required or non-required options. They can affect the total price of the product by a fixed amount or percentage.
                </p>
                <p>
                    Custom Variants and Options let you create product customization options and fields quickly and easily. Any product can have custom variants and options – this can be configured in its product configuration. Custom variants and options can be created for products as required or non-required options. They can affect the total price of the product by a fixed amount or percentage.
                </p>
            </div>
        </div>
    </div>
</div>
</section>
</section>