.link-wishlist{
    cursor: pointer;
}
.review-open{
    display: none;
}
.review-tag{
    cursor: pointer;
}
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }
  .msg{
      text-align: center;
  }
  .avg_rating{
    float: right;
    margin-top: 10px;
  }
  .review_dl{
    height: 40px;
    margin-left: -5px;
    margin-top: -7px;
  }
  .write-review{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .avg_star{
    margin-bottom: -24px;
    margin-top: -12px;
    margin-right: -8px;
  }
  .sku{
    margin-bottom: 10px;
  }
  .outstock{
    margin-top: 10px;
    color: #ea4748;
    font-size: 20px;
  }