<section *ngFor="let data of product_details">
    <div class="title-block-outer">
        <img src="/assets/images/inner-banner.jpg" alt="Banner-image"
            class="img-responsive">
        <div class="container title-block-container">
            <h2>{{data.Subcategory_name|titlecase}}</h2>
        </div>
    </div>
    <div class="breadcrumb-panel">
        <div class="container">
            <ol class="breadcrumb">
                <li><a routerLink='/home' title="Home">Home</a></li>
                <li><a
                        routerLink='/product/{{data.Category_name}}/{{data.Category_ID}}'
                        title="{{data.Category_name}}">{{data.Category_name|titlecase}}</a></li>
                <li><a
                        routerLink='/product/{{data.Category_name}}/{{data.Category_ID}}/{{data.Subcategory_name}}/{{data.Subcategory_ID}}'
                        title="{{data.Subcategory_name}}">{{data.Subcategory_name|titlecase}}</a></li>
                <li class="active">{{data.Product_Name|titlecase}}</li>
            </ol>
        </div>
    </div>

    <section class="product_detail content">
        <div class="container">
            <div class="row">
                <div class="alert alert-dismissible alert-success" role="alert"
                    *ngIf=addtocart_alert>
                    <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i> <img src="assets/images/success.svg" height="15px"
                            alt="success"></i> <span> {{data.Product_Name}}</span>
                    was added to your shopping cart
                </div>
                <div class="alert alert-dismissible alert-danger" role="alert"
                    *ngIf=islogin>
                    <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i> <img src="assets/images/error.svg" height="15px"
                            alt="error"></i> Please Login First!!
                </div>
                <div class="col-sm-5">
                    <div><ng-image-slider [images]="imgCollection"
                            [imageSize]="{width: 500, height: 500}"></ng-image-slider></div>
                </div>
                <div class="col-sm-7">
                    <div class="product-name">
                        <h1>{{data.Product_Name}}</h1>
                    </div>
                    <div class="short-description">
                        {{data.Product_Description}}
                    </div>
                    <div class="sku">
                        <span>SKU: </span> mag209_prod1
                    </div>
                    <div class="price-box">{{convertWithCurrencyRate(data.Product_Price,
                        selectedCurrency)
                        | currency:selectedCurrency}}</div>
                    <div class="product-options">
                        <label class="required"><em>*</em> size</label>
                        <p class="required">* Required Fields</p>
                        <div class="form-group">
                            <select #size>
                                <option value="">-- Please Select --</option>
                                <option *ngFor="let val of size_details"
                                    value="{{val.id}}">{{val.size}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-to-cart-btn clearfix">
                        <label>Qty:</label>
                        <select #quantity>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <button type="button" (click)="addtocart(data)"
                            *ngIf="data.Product_Quantity>0;else outofstock"
                            title="Add to Cart" class="button btn-cart"><span><span>Add
                                    to Cart</span></span>
                        </button>
                        <ng-template #outofstock>
                            <div class="outstock">Out Of Stock</div>
                        </ng-template>
                    </div>
                    <div class="email-addto-box clearfix">
                        <ul class="add-to-links">
                            <li><a (click)="add_wishlist(data.ID,data.price_id)"
                                    class="link-wishlist">Add to Wishlist</a></li>
                        </ul>
                    </div>
                    <!-- </form> -->
                    <div class="tablist-nav">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs clearfix" role="tablist">
                            <li role="presentation" class="active"><a
                                    href="#delivery" aria-controls="delivery"
                                    role="tab" data-toggle="tab">Delivery</a></li>
                            <li role="presentation"><a href="#shipping"
                                    aria-controls="shipping" role="tab"
                                    data-toggle="tab">Shipping</a></li>
                            <li role="presentation"><a href="#sizeguide"
                                    aria-controls="sizeguide" role="tab"
                                    data-toggle="tab">Sizeguide</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active"
                                id="delivery">
                                We offer the following delivery options for 24c
                                ours over the world. Deliveries are not made on
                                Saturdays, Sundays or on public holidays. A
                                specific time slot cannot be specified with any
                                of our delivery options. Please refer to the
                                Terms and Conditions of Sale.
                            </div>
                            <div role="tabpanel" class="tab-pane" id="shipping">
                                Before we can dispatch your purchases, we may
                                need to confirm your details with your card
                                issuer. We will do our best to keep delays to a
                                minimum Our delivery time starts from the moment
                                an order is accepted and includes a 48 hour
                                period where your items will be processed and
                                dispatched by our warehouse
                            </div>
                            <div role="tabpanel" class="tab-pane"
                                id="sizeguide">
                                <table class="size_guide_table">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>S</th>
                                            <th>M</th>
                                            <th>L</th>
                                            <th>XL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Men</td>
                                            <td>7-10</td>
                                            <td>10-13</td>
                                            <td>13-15</td>
                                            <td>15-17</td>
                                        </tr>
                                        <tr>
                                            <td>Women</td>
                                            <td>7-9</td>
                                            <td>10-12</td>
                                            <td>13-14</td>
                                            <td>15-16</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a
                            href="#product-review"
                            aria-controls="product-review" role="tab"
                            data-toggle="tab">Product's Review</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active"
                        id="product-review">
                        <div class="write-review">
                            <a (click)="review()" title="Write a review"
                                class="review-tag">Write a review</a>
                            <div class="" *ngIf="average_rate"><div
                                    style="text-align:right ;">{{average_rate
                                    | number:
                                    '1.0-1'}}&nbsp; Out Of 5</div>
                                <div class="avg_star">
                                    <ul class="star-links rating-list"
                                        *ngFor="let star of stars"
                                        style="display:
                                        inline-block;pointer-events: none">
                                        <li (click)="countStar(star)"
                                            [ngClass]="{'selected': (star <=
                                            average_rate_round )}">
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <form class="review-open" [formGroup]="reviewval"
                            #ngForm="ngForm"
                            (ngSubmit)="add_review()"
                            #review_window>
                            <div class="avg_star">
                                <ul class="star-links rating-list"
                                    *ngFor="let star of stars" style="display:
                                    inline-block">
                                    <li (click)="countStar(star)"
                                        [ngClass]="{'selected': (star <=
                                        selectedValue)}">
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf="reviewval.controls['star']?.invalid"
                                class="text-danger">
                                Star is required
                            </div>
                            <div class="form-group">
                                <textarea class="form-control"
                                    placeholder="Write a review"
                                    formControlName="review"></textarea>
                                <div
                                    *ngIf="reviewval.controls['review']?.invalid">
                                    <span
                                        *ngIf="reviewval.controls['review']?.errors?.['required']
                                        &&
                                        (reviewval.controls['review']?.touched
                                        || ngForm.submitted)"
                                        class="text-danger">
                                        Review is required
                                    </span>

                                </div>
                            </div>
                            <button
                                style="cursor: pointer;" title="Submit"
                                type="submit" class="btn-secondary">Submit</button>
                        </form>
                        <div *ngIf="review_details.length>0;else nodata">
                            <div class="review-detail" *ngFor="let data of
                                review_details">
                                <span>{{data.fullname}}, {{data.date}} writes:</span>
                                <div class="review_dl">
                                    <ul class="star-links rating-list"
                                        *ngFor="let star of stars"
                                        style="display:
                                        inline-block;pointer-events: none;">
                                        <li (click)="countStar(star)"
                                            [ngClass]="{'selected': (star <=
                                            data.rate)}">
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul></div>
                                <p>{{data.review}}</p>
                            </div>
                        </div>
                        <ng-template #nodata>
                            <div class="grid row record">
                                <div class="col-12 msg">No Review Found!!!</div>
                            </div>
                        </ng-template>
                        <div *ngIf="review_details.length >=5 && review_count;">
                            <span class="button-outer text-center">
                                <a style="cursor: pointer;"
                                    class="btn-tertiary"
                                    (click)="load_review(review_load)"
                                    title="More Products">View More</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>