.form-group{
    margin-bottom: 10px;
}
.text-danger{
    color:#ea4748
}
.change_box{
    display: none;
}
.update-action{
    margin-bottom: 20px;
    display: none;
    cursor: pointer;
}
.btn-remove{
   cursor: pointer;
}
.btn-edit{
   cursor: pointer;
}