<header class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle nav-toggle
                        collapsed"data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-sm-1">
                    <a routerLink="/home" title="eShopper" class="logo"><img
                            src="/assets/images/logo.svg" alt="eShopper"></a>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div class="collapse navbar-collapse"
                        id="bs-example-navbar-collapse-1">
                        <nav class="nav is-fixed">
                            <div class="nav-container clearfix">
                                <ul class="nav-menu menu clearfix">
                                    <li class="menu-item"><a routerLink="home"
                                            class="menu-link" title="Home">Home</a></li>
                                    <li class="menu-item" *ngFor="let cat of
                                        categorylist"> <a
                                            routerLink="product/{{cat.Category_Name}}/{{cat.ID}}"
                                            class="menu-link"
                                            title="{{cat.Category_Name}}">{{cat.Category_Name|titlecase}}</a>
                                        <ul class="sub-menu">
                                            <li *ngFor="let scat of
                                                subcategorylist"><a
                                                    routerLink="product/{{cat.Category_Name}}/{{cat.ID}}/{{scat.Subcategory_Name}}/{{scat.ID}}"
                                                    title="{{scat.Subcategory_Name}}"
                                                    *ngIf="cat.ID==scat.Category_ID">{{scat.Subcategory_Name|titlecase}}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 search-outer">
                    <form>
                        <ul class="header-right-block clearfix">
                     
                            <li class="login-link" *ngIf="!islogin"><a href="#" title="Login"
                                    data-toggle="modal" 
                                    data-target="#Login-popup">Login</a></li>
                                    <li class="hidden-xs" *ngIf="islogin">
                                        <span><em>Welcome</em>, {{ user_name | titlecase}}</span>
                                    </li>
                                    <li *ngIf="islogin" >
                                        <a routerLink="/profile" title="My Profile">Profile</a>
                                    </li>
                                    <li *ngIf="islogin;" class="login-link"><a routerLink="/home" (click)="unset_user()" title="Logout" >Logout</a></li>
                                    <div class="modal fade" id="Login-popup" tabindex="-1" 
                                    role="dialog" aria-hidden="true">

                         
                                  <!-- Modal -->
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" >
                                            <button  type="button" class="close" id="cls"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" >&times;</span>
                                            </button>
                                            <div class="text-center" style="font-size:23px">eShopper Login</div>
                                        </div>
                                        <div class="modal-body">
                                            <form class="loginform" [formGroup]="loginval" #ngForm="ngForm"
                                            (ngSubmit)="login()">
                                            <div class="alert alert-dismissible alert-danger" role="alert" *ngIf="login_error">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                                <i> <img src="assets/images/error.svg" height="15px" alt="error"></i> Invalid Username or Password
                                            </div>
                                                <div class="form-group">
                                                    <label class="form-label">Username</label>
                                                    <input type="text" class="form-control" formControlName="username"
                                                        placeholder="Enter your Username">
                                                        <div *ngIf="username?.invalid ">

                                                            <span *ngIf="username?.errors?.['required']  && (username?.touched || ngForm.submitted) "  class="text-danger">
                                                                Username is required
                                                            </span>
                                                            <!-- <span *ngIf="username?.errors?.['pattern']  && (username?.touched || ngForm.submitted) "  class="text-danger">
                                                                Please enter valid username
                                                            </span> -->
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Password</label>
                                                    <input type="password"
                                                        class="form-control" formControlName="password"
                                                        placeholder="Enter your Password">
                                                        <div *ngIf="password?.invalid ">

                                                            <span *ngIf="password?.errors?.['required'] && (password?.touched || ngForm.submitted) "  class="text-danger">
                                                                Password is required
                                                            </span>
                                                            <span *ngIf="password?.errors?.['minlength'] && (password?.touched || ngForm.submitted) "  class="text-danger">
                                                                Password must be 6 character long
                                                            </span>
                                                           
                                                            
                                                        </div>
                                                </div>
                                                <!-- <div class="form-group ">
                                                    <label class="form-label">Password</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter your Password"
                                                        value="Incorrect Password">
                                                </div> -->
                                                <div class="form-group clearfix
                                                    login-options">
                                                    <button type="submit"
                                                        class="btn-secondary">Login</button>
                                                    <p>Not a Member? <a routerLink="/register" (click)="close_modal()"
                                                            title="Register">Register</a></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                               
                            <li class="cart-outer">
                                <a href="#" title="Add to Cart"
                                    class="add-to-cart"></a>
                                <div class="cart-wrap" >
                                   
                                   
                                    <div *ngIf="products.length > 0;else nodata">
                                        <p>Recently added item(s)</p>
                                    <ul *ngFor="let item of products; let i = index">
                                        <li>
                                            <a class="cart-product"
                                                title="consectetur adipiscing
                                                elit"
                                                href="product-detail.html"><img
                                                    alt=""
                                                    src="{{image_url}}/{{item.Image_path}}"></a>
                                            <div class="cart-details">
                                                <a class="btn-remove"
                                                    title="Remove item"
                                                    (click)="removeItem(item)"><img
                                                        src="/assets/images/cross.svg"
                                                        alt=""></a>
   
                                                <a class="btn-edit" title="Edit item" >
                                                    <img (click)="edit_product(item.ID)"
                                                        src="/assets/images/edit.svg"
                                                        alt="">
                                                </a>
                                                <p class="product-name"><a
                                                    routerLink="/product/{{item.ID}}">{{item.Product_Name}}</a></p>
                                                <p class="price">{{item.Product_Price|currency:'INR'}} </p>
                                                <p class="qty-wrapper">
                                                    <span>Qty : </span>
                                                    <span #quantity id="{{item.ID}}">{{item.Product_Quantity}}</span>
                                                    <input type="text" class="change_box" #quantity_text  id="{{item.ID}}" (keyup)="change_quantity($event)"/>
                                                </p>
                                                <div class="size-wrap">
                                                    <dl class="item-options">
                                                        <dt>Size :</dt>
                                                        <dd #size_text id="{{item.ID}}">
                                                            {{item.Size_Name}}
                                                        </dd>
                                                        <!-- -->
                                                        <select class="default-select form-control change_box"  #size id="{{item.ID}}" (change)="change_size($event)"  > 
                                                            <option *ngFor="let getitem of size_details" value="{{getitem.size+','+getitem.id}}" id="{{getitem.id}}" >{{getitem.size}}</option>
                                                            
                                                        </select>
                                                        
                                                    </dl>
                                                   
                                                </div>
                                            </div>
                                            <div class="update-action" id="{{item.ID}}" #update>
                                                <a  title="Update" (click)="update_cart(item.ID)"
                                                    class="btn-secondary">Update</a>
                                            </div>
                                        </li>
                                        
                                        <!-- <li>
                                            <a class="cart-product"
                                                title="consectetur adipiscing
                                                elit"
                                                href="product-detail.html"><img
                                                    alt=""
                                                    src="/assets/images/new-thumb-02.jpg"></a>
                                            <div class="cart-details">
                                                <a class="btn-remove"
                                                    title="Remove item"
                                                    href="#"><img
                                                        src="/assets/images/cross.svg"
                                                        alt=""></a>
                                                <a class="btn-edit" title="Edit
                                                    item" href="cart.html">
                                                    <img
                                                        src="/assets/images/edit.svg"
                                                        alt="">
                                                </a>
                                                <p class="product-name"><a
                                                        href="product-detail.html">U.S.
                                                        Polo Assn. Full Sleeve
                                                        Plain T-Shirts for Men</a></p>
                                                <p class="price">$120.00</p>

                                                <p class="qty-wrapper">
                                                    <span>Qty : </span>
                                                    <span>
                                                        1
                                                    </span>
                                                </p>
                                                <div class="size-wrap">
                                                    <dl class="item-options">
                                                        <dt>Size :</dt>
                                                        <dd>
                                                            Medium/Large
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </li> -->
                                    </ul>
                                   
                                    <div class="summary">
                                        <p class="subtotal">
                                            <span>Cart Subtotal:</span> <span
                                                class="price">{{grandTotal|currency:'INR'}}</span>
                                        </p>
                                    </div>
                                    <div class="cart-action">
                                        <a routerLink="/cart"title="View Cart"
                                            class="btn-secondary">View Cart</a>
                                    </div></div>
                                    <ng-template #nodata>
                                        <p>Your Cart Is Empty</p>
                                    </ng-template>
                                </div>
                            </li>
                            <li class="search-link-wrap">
                                <div class="search-link-outer">
                                    <div class="search-link clearfix">
                                        <input type="text" class="form-control"
                                            placeholder="Search">
                                        <a href="#" title="Search"><i><img
                                                    src="/assets/images/search.svg"
                                                    alt="Search"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                       
                    </form>
                </div>

                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- {{categorylist}} -->
